In [55]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as mtl

In [56]:
datos_mundial_2002 = pd.read_csv('assets/data/FIFA - 2002.csv', index_col='Team')
datos_mundial_2002.head(5)

,Position,Games Played,Win,Draw,Loss,Goals For,Goals Against,Goal Difference,Points
Team,,,,,,,,,
Brazil,1,7,7.0,0.0,0,18,4,14,21
Germany,2,7,5.0,1.0,1,14,3,11,16
Turkey,3,7,4.0,1.0,2,10,6,4,13
South Korea,4,7,3.0,2.0,2,8,6,2,11
Spain,5,5,3.0,2.0,0,10,5,5,11

In [57]:
datos_mundial_2002_sin_nulos = datos_mundial_2002.dropna()

In [58]:
datos_mundial_2002_sin_nulos.to_csv('assets/data/Fifa_2002_Sin_nulos.csv')

In [59]:
datos_mundial_2022 = pd.read_csv('assets/data/FIFA - 2022.csv', index_col='Team')
datos_mundial_2022.head(5)

,Position,Games Played,Win,Draw,Loss,Goals For,Goals Against,Goal Difference,Points
Team,,,,,,,,,
Argentina,1,7,6.0,0,1,15,8.0,7,18
France,2,7,5.0,0,2,16,8.0,8,15
Croatia,3,7,4.0,2,1,8,7.0,1,14
Morocco,4,7,4.0,1,2,6,5.0,1,13
England,5,5,3.0,1,1,13,4.0,9,10

In [60]:
mundial_2022_sin_nulos = datos_mundial_2022.dropna()

In [61]:
mundial_2022_sin_nulos.head(20)

,Position,Games Played,Win,Draw,Loss,Goals For,Goals Against,Goal Difference,Points
Team,,,,,,,,,
Argentina,1,7,6.0,0,1,15,8.0,7,18
France,2,7,5.0,0,2,16,8.0,8,15
Croatia,3,7,4.0,2,1,8,7.0,1,14
Morocco,4,7,4.0,1,2,6,5.0,1,13
England,5,5,3.0,1,1,13,4.0,9,10
Netherlands,6,5,3.0,1,1,10,4.0,6,10
Portugal,7,5,3.0,0,2,12,6.0,6,9
Brazil,8,5,3.0,0,2,8,3.0,5,9
Japan,9,4,2.0,0,2,5,4.0,1,6
Senegal,10,4,2.0,0,2,5,7.0,-2,6
Australia,11,4,2.0,0,2,4,6.0,-2,6
Switzerland,12,4,2.0,0,2,5,9.0,-4,6
USA,13,4,1.0,2,1,3,4.0,-1,5
Spain,14,4,1.0,1,2,9,3.0,6,4
Poland,15,4,1.0,1,2,3,5.0,-2,4
South Korea,16,4,1.0,1,2,5,8.0,-3,4
Germany,17,3,1.0,1,1,6,5.0,1,4
Ecuador,18,3,1.0,1,1,4,3.0,1,4
Cameroon,19,3,1.0,1,1,4,4.0,0,4
Uruguay,20,3,1.0,1,1,2,2.0,0,4

In [62]:
mundial_2022_sin_nulos.to_csv('assets/data/Fifa_2022_Sin_nulos.csv')

In [74]:
ganadores_mundial_2022 = mundial_2022_sin_nulos['Win']
ganadores_mundial_2022

Team
Argentina      6.0
France         5.0
Croatia        4.0
Morocco        4.0
England        3.0
Netherlands    3.0
Portugal       3.0
Brazil         3.0
Japan          2.0
Senegal        2.0
Australia      2.0
Switzerland    2.0
USA            1.0
Spain          1.0
Poland         1.0
South Korea    1.0
Germany        1.0
Ecuador        1.0
Cameroon       1.0
Uruguay        1.0
Tunisia        1.0
Mexico         1.0
Belgium        1.0
Ghana          1.0
Iran           1.0
Costa Rica     1.0
Denmark        0.0
Serbia         0.0
Canada         0.0
Qatar          0.0
Name: Win, dtype: float64

In [75]:
ganadores_mundial_2022.()

<class 'pandas.core.series.Series'>
Index: 30 entries, Argentina to Qatar
Series name: Win
Non-Null Count  Dtype
--------------  -----
30 non-null     float64
dtypes: float64(1)
memory usage: 1.5+ KB

In [67]:
datos_mundial_2002_sin_nulos['Goals For'].head(10)

Team
Brazil           18
Germany          14
Turkey           10
South Korea       8
Spain            10
England           6
Senegal           7
United States     7
Japan             5
Denmark           5
Name: Goals For, dtype: int64

In [68]:
mundial_2022_sin_nulos['Goals For'].head(10)

Team
Argentina      15
France         16
Croatia         8
Morocco         6
England        13
Netherlands    10
Portugal       12
Brazil          8
Japan           5
Senegal         5
Name: Goals For, dtype: int64